/frontend-sdk/dist/
/frontend-sdk/node_modules/
/frontend-sdk/.env
/frontend-sdk/.env.local
/frontend-sdk/.env.development.local
/frontend-sdk/.env.test.local
/frontend-sdk/.env.production.local


/larkfinserv-sdk/dist/
/larkfinserv-sdk/node_modules/
/larkfinserv-sdk/.env
/larkfinserv-sdk/.env.local
/larkfinserv-sdk/.env.development.local
/larkfinserv-sdk/.env.test.local
/larkfinserv-sdk/.env.production.local

/react-parent/dist/
/react-parent/node_modules/
/react-parent/.env
/react-parent/.env.local
/react-parent/.env.development.local
/react-parent/.env.test.local
/react-parent/.env.production.local
